button, label, stack-layout {
    horizontal-align: center;    
}

.title {
    font-size: 40;
    color: #222222;
}

.featureButton {
    margin: 1;
    font-size: 16;
    color: #387ef5;
    background-color: white;
}

.selected {
    color: #ef473a;
    animation-name: animate-select;
    animation-duration: 1;
}
@keyframes animate-select {
  from { transform: scale(1.0, 1.0);  }
  50% { transform: scale(1.4, 1.4);  }
  to { transform: scale(1.0, 1.0); }
}

.unselected {
    animation-name: animate-unselect;
    animation-duration: 1;
}
@keyframes animate-unselect {
  from {  opacity: 1; }
  30% {  opacity: 0.3; }
  to {  opacity: 0.9; }
}

.avatar-src {
   font-size: 12;
}